body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#sidebar {
  z-index: 2;
  position: fixed;
  width: 200px;
  height:100%;
  background: #151719;
  right: -200px;
  transition: all 500ms;
}

#sidebar.active {
  right:0px;
}

#sidebar ul li {
  color: rgba(230,230,230,0.9);
  list-style:none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  right:200px;
  top: 24px;
}

#sidebar .toggle-btn .thisSpan {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

#root {
  z-index:1;
  position: fixed;
}

.custom-item {
  pointer-events: none;
}

.rct-label-group {
  background: #1C1A1A !important;
}

.rct-sidebar-header {
  background: #1C1A1A !important;
}

.trash {
  position: relative;
  left: -50%;
  color: red;
}

.trashGroup {
  position: relative;
  color: red;
}

#inputScenarioTitle {
  background: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}

.react-calendar-timeline .rct-items .rct-item .rct-item-overflow .rct-item-content {
  width: 100%;
  position: static !important;
}

.custom-item {
  position: relative;
  z-index: 9000;
}

.addGroupBtn {
  position: fixed;
  top: 2%;
  left: 2%;
}

.addGroupBtn img {
  width: 40px;
}